## Introduction

As discovered in the initial data exploration stage, there are a lot of missing values in my dataset.

I will need to clean my dataset in order to ensure my analysis is accurate and all of the necessary data is available.

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv('C:/Users/tuite/Desktop/Software Portfolio/python/Traffic_Accident_Analysis/data/US_Accidents_March23.csv')

# Display the first few rows of the dataset
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

## Display missing values

First I have to display all of the missing values in my dataset.

In [3]:
# Check for missing values in all columns
missing_values = df.isnull().sum()

# Create a DataFrame for better visualization
missing_values_df = pd.DataFrame({'Column Name': missing_values.index, 'Missing Values': missing_values.values})

# Display the missing values for all columns
print("Missing Values in Each Column:")
print(missing_values_df)

Missing Values in Each Column:
              Column Name  Missing Values
0                      ID               0
1                  Source               0
2                Severity               0
3              Start_Time               0
4                End_Time               0
5               Start_Lat               0
6               Start_Lng               0
7                 End_Lat         3402762
8                 End_Lng         3402762
9            Distance(mi)               0
10            Description               5
11                 Street           10869
12                   City             253
13                 County               0
14                  State               0
15                Zipcode            1915
16                Country               0
17               Timezone            7808
18           Airport_Code           22635
19      Weather_Timestamp          120228
20         Temperature(F)          163853
21          Wind_Chill(F)         1999019
22            Humidity(%)          174144
23           Pressure(in)          140679
24         Visibility(mi)          177098
25         Wind_Direction          175206
26        Wind_Speed(mph)          571233
27      Precipitation(in)         2203586
28      Weather_Condition          173459
29                Amenity               0
30                   Bump               0
31               Crossing               0
32               Give_Way               0
33               Junction               0
34                No_Exit               0
35                Railway               0
36             Roundabout               0
37                Station               0
38                   Stop               0
39        Traffic_Calming               0
40         Traffic_Signal               0
41           Turning_Loop               0
42         Sunrise_Sunset           23246
43         Civil_Twilight           23246
44      Nautical_Twilight           23246
45  Astronomical_Twilight           23246

## Results

Most of the main collums I will be needing for this project have no missing values, but there are some that I might need to use.

I will start by dropping values that have too much missing values, making them unreliable, and also dropping any non relavent collumns for this project.

In [6]:
# Drop unnecessary columns
columns_to_drop = ['ID', 'Description', 'End_Lat', 'End_Lng', 'Country', 'End_Time']
df_cleaned = df.drop(columns=columns_to_drop)

## Next step

Convert data types.

-Start_Time should be converted to datetime format.

In [ ]:
# Convert datetime columns
df_cleaned['Start_Time'] = pd.to_datetime(df_cleaned['Start_Time'], errors='coerce')

# check for missign values in the start time collumn
print(df_cleaned['Start_Time'].isna().sum())

# checking the first 10 rows with NaT values
print(df_cleaned[df_cleaned['Start_Time'].isna()].head(10))

# Drop rows where 'Start_Time' is missing
df_cleaned = df_cleaned.dropna(subset=['Start_Time'])

# Convert Start time column to date time
df_cleaned['Start_Time'] = pd.to_datetime(df_cleaned['Start_Time'])

743166
          Source  Severity Start_Time  Start_Lat   Start_Lng  Distance(mi)  \
3639775  Source1         2        NaT   34.06265 -118.000680         0.049
3639776  Source1         4        NaT   33.93146 -118.390730         0.590
3639777  Source1         3        NaT   33.61789 -117.711160         0.591
3639778  Source1         3        NaT   33.69759 -117.940060         0.287
3639779  Source1         3        NaT   34.03534 -118.329820         0.446
3639780  Source1         2        NaT   34.23274 -118.472990         0.415
3639781  Source1         4        NaT   34.49849 -117.746219         0.070
3639782  Source1         4        NaT   34.49848 -117.747457         0.070
3639783  Source1         2        NaT   37.58130 -122.325460         0.174
3639784  Source1         2        NaT   38.57351 -121.581740         0.232

                   Street             City       County State  ... Roundabout  \
3639775           I-605 S     Baldwin Park  Los Angeles    CA  ...      False
3639776           I-105 W      Los Angeles  Los Angeles    CA  ...      False
3639777   San Diego Fwy S     Laguna Hills       Orange    CA  ...      False
3639778   San Diego Fwy S  Fountain Valley       Orange    CA  ...      False
3639779            I-10 W      Los Angeles  Los Angeles    CA  ...      False
3639780           I-405 N      North Hills  Los Angeles    CA  ...      False
3639781   Pearblossom Hwy            Llano  Los Angeles    CA  ...      False
3639782   Pearblossom Hwy            Llano  Los Angeles    CA  ...      False
3639783    Bayshore Fwy S        San Mateo    San Mateo    CA  ...      False
3639784            I-80 E  West Sacramento         Yolo    CA  ...      False

        Station   Stop Traffic_Calming  Traffic_Signal  Turning_Loop  \
3639775   False  False           False           False         False
3639776   False  False           False           False         False
3639777   False  False           False           False         False
3639778   False  False           False           False         False
3639779   False  False           False           False         False
3639780   False  False           False           False         False
3639781   False  False           False           False         False
3639782   False  False           False           False         False
3639783   False  False           False           False         False
3639784   False  False           False           False         False

         Sunrise_Sunset  Civil_Twilight  Nautical_Twilight  \
3639775           Night           Night              Night
3639776           Night           Night                Day
3639777           Night             Day                Day
3639778             Day             Day                Day
3639779             Day             Day                Day
3639780             Day             Day                Day
3639781             Day             Day                Day
3639782             Day             Day                Day
3639783             Day             Day                Day
3639784             Day             Day                Day

        Astronomical_Twilight
3639775                   Day
3639776                   Day
3639777                   Day
3639778                   Day
3639779                   Day
3639780                   Day
3639781                   Day
3639782                   Day
3639783                   Day
3639784                   Day

[10 rows x 40 columns]

## Results

The start time collumn had a lot of missing values so I was having trouble converting to datetime.

I want to use start time in my project so I decided to just drop the missing values instead of dropping the whole collumn

## Next step

Fill missing values for other collumns

In [15]:
# Fill missing values for other columns without using inplace=True
df_cleaned['Zipcode'] = df_cleaned['Zipcode'].fillna(df_cleaned['Zipcode'].mode()[0])  # Fill with most common Zipcode
df_cleaned['Timezone'] = df_cleaned['Timezone'].fillna(df_cleaned['Timezone'].mode()[0])  # Fill with most common Timezone
df_cleaned['Airport_Code'] = df_cleaned['Airport_Code'].fillna('Unknown')  # Replace missing Airport Codes with 'Unknown'
df_cleaned['Weather_Timestamp'] = df_cleaned['Weather_Timestamp'].ffill()  # Forward-fill weather timestamps
df_cleaned['Temperature(F)'] = df_cleaned['Temperature(F)'].fillna(df_cleaned['Temperature(F)'].median())  # Fill with median temp
df_cleaned['Wind_Chill(F)'] = df_cleaned['Wind_Chill(F)'].fillna(df_cleaned['Wind_Chill(F)'].median())  # Fill with median wind chill
df_cleaned['Humidity(%)'] = df_cleaned['Humidity(%)'].fillna(df_cleaned['Humidity(%)'].median())  # Fill with median humidity
df_cleaned['Pressure(in)'] = df_cleaned['Pressure(in)'].fillna(df_cleaned['Pressure(in)'].median())  # Fill with median pressure
df_cleaned['Visibility(mi)'] = df_cleaned['Visibility(mi)'].fillna(df_cleaned['Visibility(mi)'].median())  # Fill with median visibility
df_cleaned['Wind_Speed(mph)'] = df_cleaned['Wind_Speed(mph)'].fillna(df_cleaned['Wind_Speed(mph)'].median())  # Fill with median wind speed
df_cleaned['Precipitation(in)'] = df_cleaned['Precipitation(in)'].fillna(0)  # Assume no precipitation if missing
df_cleaned['Weather_Condition'] = df_cleaned['Weather_Condition'].fillna('Unknown')  # Replace missing weather conditions with 'Unknown'

## Results

My missing values should all be handled.

I will confirm this below.

In [16]:
# Confirm missing values are handled
print("Missing values after cleaning:")
print(df_cleaned.isnull().sum())

Missing values after cleaning:
Source                        0
Severity                      0
Start_Time                    0
Start_Lat                     0
Start_Lng                     0
Distance(mi)                  0
Street                     8474
City                        226
County                        0
State                         0
Zipcode                       0
Timezone                      0
Airport_Code                  0
Weather_Timestamp             0
Temperature(F)                0
Wind_Chill(F)                 0
Humidity(%)                   0
Pressure(in)                  0
Visibility(mi)                0
Wind_Direction           153449
Wind_Speed(mph)               0
Precipitation(in)             0
Weather_Condition             0
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset            17560
Civil_Twilight            17560
Nautical_Twilight         17560
Astronomical_Twilight     17560
dtype: int64

## Results

Unfortunatelty there are still some missing values remaining.

I will need to either fill the values or drop if I will not be needing them.

In [18]:
# Handle 'Street' and 'City' missing values
df_cleaned['Street'] = df_cleaned['Street'].fillna('Unknown')
df_cleaned['City'] = df_cleaned['City'].fillna('Unknown')

# Handle 'Wind_Direction' missing values
df_cleaned['Wind_Direction'] = df_cleaned['Wind_Direction'].fillna('Unknown')

# Handle time-related columns (fill with most frequent values)
df_cleaned['Sunrise_Sunset'] = df_cleaned['Sunrise_Sunset'].fillna(df_cleaned['Sunrise_Sunset'].mode()[0])
df_cleaned['Civil_Twilight'] = df_cleaned['Civil_Twilight'].fillna(df_cleaned['Civil_Twilight'].mode()[0])
df_cleaned['Nautical_Twilight'] = df_cleaned['Nautical_Twilight'].fillna(df_cleaned['Nautical_Twilight'].mode()[0])
df_cleaned['Astronomical_Twilight'] = df_cleaned['Astronomical_Twilight'].fillna(df_cleaned['Astronomical_Twilight'].mode()[0])

## Re Checking for missing values

In [19]:
# Confirm no missing values remain
print("Missing values after final cleaning:")
print(df_cleaned.isnull().sum())

Missing values after final cleaning:
Source                   0
Severity                 0
Start_Time               0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

## Dataset Cleaned!!

There are no longer any missing values in my dataset.

I will now save the cleaned dataset to a new file that i can use for my project.

In [20]:
# Save the final cleaned dataset
df_cleaned.to_csv("final_cleaned_accident_data.csv", index=False)
print("Data cleaning completed! ðŸš€ Cleaned data saved as 'final_cleaned_accident_data.csv'.")

Data cleaning completed! ðŸš€ Cleaned data saved as 'final_cleaned_accident_data.csv'.

## Conclusion

In this notebook, I focused on cleaning the traffic accident dataset to ensure it was ready for further analysis and visualization. The cleaning process involved several key steps:

- Handling missing data:
    For categorical columns like 'Zipcode' and 'Timezone', I filled missing entries with the most common value and replaced missing values with meaningful defaults for other columns.
- correcting datatypes:
    I converted columns like 'Start_Time' to datetime format and ensured numerical columns were properly formatted for analysis.
- removing irrelevent data:
    I removed or replaced irrelevent records, mainly for columns with impossible or unrealistic values, ensuring the dataset was accurate and reliable for analysis.

- Challenges faced:
    I ran into some errors when trying to convert datatype of start time collumn as there was a lot of missing values.
    I had to drop a lot more collumns than i had initially thought but luckily most of the data was irrelevent to my project.

## Next steps

With the dataset now clean, the next step will be to proceed with data exploration and visualization, particularly creating heatmaps of accident locations and applying machine learning models to predict accident severity. Further data imputation could also be explored if additional data becomes available.